@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}

@mixin degrade($str) {
  background-image:-moz-linear-gradient(#{$str});
  background-image:-webkit-linear-gradient(#{$str});
  background-image:-o-linear-gradient(#{$str});
  background-image:linear-gradient(#{$str});
}