html, body{
  margin: 0;
  border: 0;
  padding: 0;
}

hr{
  width: 60px;
  height: 3px;
  margin: 40px auto;
  background-color: #fff;
  border: none;
  z-index: 1;
}

.clear{
  clear: both;
  display: block;
  margin: 0;
}

.col-6{
  width: calc(50% - 40px);
  margin: 80px 20px 0 20px;
  float: left;
}

.col-4{
  width: calc((100% / 3) - 40px);
  margin: 80px 20px 0 20px;
  float: left;
}

.flex{
  display: flex;
  flex-direction: row;
}

.filter-background{
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 100%;
  z-index: 0;
}

.max-w-124{
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}