.facts{
  height: 270px;
  width: 90%;
  background-color: #95e1d3;
  padding: 0 5%;

  .fact{
    width: calc((100% - 6px) / 5);
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    color: #fff;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    border-left: 1px solid rgba(255, 255, 255, 0.3);

    span{
      font-family: Montserrat;
      font-size: 14px;
      font-weight: 400;
      text-transform: uppercase;

      &.number{
        font-size: 72px;
        font-weight: 700;
        display: block;
        margin-bottom: 15px;
      }
    }

    & + .fact{
      border-left: none;
      border-right: 1px solid rgba(255, 255, 255, 0.3);
    }
  }
}

.we-work-with{
  hr{
    height: 1px;
    background-color: #e5e5e5;
    width: 100%;
    margin: 60px auto;
  }
  .col-4{
    &.marg{
      margin-top: 0;
    }
    .icon{
      width: 20%;
      float: left;
    }
    .desc{
      width: 80%;
      float: left;
      text-align: left;
      .title{
        color: #333333;
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        text-transform: uppercase;
        margin-bottom: 10px;
        display: inline-block;
      }
      p{
        color: #999999;
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        line-height: 24px;
      }
    }
  }
}

.feature{
  background-color: transparent;
  width: 100%;
  background-image: url("../img/background_content.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;

  .on-scroll-img{
    position: absolute;
    bottom: -400px;
    transition: 2s;
    opacity: 0;

    &.ipad{
      left: calc(50% - (477px / 2));
      transition: 1s;
    }
    &.iphone{
      left: calc(50% + (300px / 2));
      transition: 1.5s;
    }
  }
}

.service{
  .col-6{
    font-size: 0;
    transition: 0.5s;
    img{
      width: 100%;
    }
    ol{
      font-size: 21px;
      width: 100%;
      list-style: none;
      margin: 0;
      padding: 0;
      text-align: left;
      li{
        list-style: none;
        margin: 0;
        padding: 0;
        ul{
          list-style: none;
          margin: 0;
          border: 1px solid #e5e5e5;
          padding: 0;
          & > li{
            list-style: none;
            margin: 0;
            &.title{
              width: calc(100% - 40px);
              height: 58px;
              border-bottom: 1px solid #e5e5e5;
              line-height: 58px;
              color: #333333;
              font-family: 'Montserrat', sans-serif;
              font-size: 14px;
              font-weight: 400;
              text-transform: uppercase;
              padding: 0 20px;
              position: relative;

              img{
                width: 30px;
                margin-bottom: -9px;
                margin-right: 20px;
              }

              &::after{
                content: '';
                position: absolute;
                width: 20px;
                height: 20px;
                background-image: url("../../img/arrow.png");
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                cursor: pointer;
                transition: 1s;
                right: 20px;
                top: 20px;
              }
            }
            &.title.arrow{
              &::after{
                -ms-transform: rotate(180deg); /* IE 9 */
                -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
                transform: rotate(180deg);
              }
            }
            &.text{
              width: calc(100% - 40px);
              padding: 20px;
              overflow-y: auto;
              font-family: 'Roboto', sans-serif;
              font-weight: 300;
              font-style: italic;
              color: #999999;
              font-size: 15px;
              line-height: 24px;
            }
            &.invisible{
              display: none;
            }
          }
        }

        & + li{
          margin-top: 10px;
        }
      }
    }
  }
}

.carousel{
  background-color: #f8f8f8;
  margin: 0;
  width: 100%;
  &.second{
    .carousel-content{
      .review{
        &::before{
          content: '';
          position: absolute;
          width: 124px;
          height: 124px;
          left: -160px;
          top: calc(50% - 62px);
          background-image: url("../img/carousel-img.png");
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
          border: none;
        }
      }
    }
  }
  .carousel-content{
    max-width: calc(100% - 310px);
    margin: 0 auto;
    padding-left: 190px;
    width: calc(100% - 190px);
    position: relative;
    display: none;
    &.visible{
      display: block;
    }
    .review{
      position: relative;
      text-align: left;
      line-height: 36px;
      font-size: 24px;
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      font-style: italic;
      color: #999999;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      &::before{
        content: '';
        position: absolute;
        width: 124px;
        height: 124px;
        left: -160px;
        top: calc(50% - 62px);
        background-image: url("../img/review-icon.png");
        background-position: center;
        background-size: 50%;
        background-repeat: no-repeat;
        border: 3px solid #95e1d3;
      }
      span.author{
        margin: 10px auto 0 auto;
        display: block;
        height: 24px;
        line-height: 24px;
        position: relative;
        padding-left: 75px;
        color: #333333;
        font-family: 'Kaushan Script', cursive;
        font-size: 24px;
        font-style: normal;
        width: calc(100% - 75px);
        &::before{
          content: '';
          position: absolute;
          top: 12px;
          left: 0px;
          width: 60px;
          height: 3px;
          background-color: #f38181;
        }
      }
    }
    .prev, .next{
      position: absolute;
      width: 20px;
      height: 20px;
      transition: 0.5s;
      position: absolute;
      top: calc(50% - 10px);
      cursor: pointer;
      &:hover{
        opacity: 0.7;
      }
    }
    .prev{
      left: -40px;
      background-image: url("../img/arrow-left.png");
      background-position: center;
      background-size: 50%;
      background-repeat: no-repeat;
    }
    .next{
      right: -40px;
      background-image: url("../img/arrow-right.png");
      background-position: center;
      background-size: 50%;
      background-repeat: no-repeat;
    }
  }
}

.pictures{
  width: 100%;
  padding: 0;
  .picture{
    width: 50%;
    float: left;
    img{
      width: 50%;
      float: left;
    }

  }
}

.logo-list{
  width: 100%;
  background-color: #f8f8f8;
  img{
    max-width: 90%;
    margin: 0 auto;
  }
}

.what-people-say{
  position: relative;
  width: 100%;
  background-image: url("../img/background-2.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  .col-6{
    z-index: 1;
    .photo{
      position: relative;
      width: 20%;
      float: left;
      img{
        max-width: 100%;
      }
    }
    .desc{
      width: calc(80% - 15px);
      margin-left: 15px;
      float: left;
      text-align: left;
      .header{
        position: relative;
        padding-bottom: 15px;
        margin-bottom: 15px;
        .name{
          color: #333333;
          font-family: 'Montserrat', sans-serif;
          font-size: 14px;
          text-transform: uppercase;
          display: block;
        }
        .job{
          display: block;
          color: #333333;
          font-family: 'Roboto', sans-serif;
          font-weight: 300;
          font-style: italic;
          font-size: 15px;
          font-weight: 300;
          font-style: italic;
          line-height: 24px;
        }
        &::after{
          content: '';
          position: absolute;
          bottom: -3px;
          background-color: #f38181;
          height: 3px;
          width: 60px;
          left: 0;
        }
      }
      p{
        position: relative;
        color: #999999;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-style: italic;
        font-size: 15px;
        line-height: 24px;
        margin: 0;
      }
    }
  }
}

.stories{
  .story{
    width: calc((100% / 3) - 40px);
    margin: 20px;
    float: left;
    font-size: 0;
    .illustration{
      position: relative;
      img{
        width: 100%;
      }
      .date{
        position: absolute;
        width: 60px;
        height: 70px;
        background-color: #95e1d3;
        left: -10px;
        bottom: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        span.day{
          color: #ffffff;
          font-family: 'Montserrat', sans-serif;
          font-size: 30px;
          font-weight: 700;
          text-transform: uppercase;
        }
        span.month{
          font-family: 'Roboto', sans-serif;
          font-weight: 300;
          font-style: italic;
          font-size: 15px;
          color: #ffffff;
          text-transform: capitalize;
        }
      }
    }
    .description{
      text-align: left;
      .title{
        color: #333333;
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        text-transform: uppercase;
        display: block;
        margin: 20px 0;
      }
      p{
        color: #999999;
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        line-height: 24px;
        border-bottom: 1px solid #e5e5e5;
        padding-bottom: 20px;
        margin-bottom: 20px;
      }
      .view{
        display: inline-block;
        position: relative;
        height: 20px;
        line-height: 20px;
        padding-left: 25px;
        color: #999999;
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        font-weight: 300;
        font-style: italic;
        margin-right: 15px;
        &::before{
          content: '';
          position: absolute;
          width: 20px;
          height: 20px;
          left: 0;
          top: 0;
          background-image: url("../img/view-ico.png");
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
        }
      }
      .review{
        display: inline-block;
        position: relative;
        margin-right: 15px;
        height: 20px;
        line-height: 20px;
        padding-left: 25px;
        color: #999999;
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        font-weight: 300;
        font-style: italic;
        &::before{
          content: '';
          position: absolute;
          width: 16px;
          height: 14px;
          left: 0;
          top: 3px;
          background-image: url("../img/review-ico.png");
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
        }
      }
    }
  }
}

.map{
  width: 100%;
  background-image: url("../img/background-3.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  div{
    color: #f38181;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    padding: 20px;
    position: relative;
    &::after{
      content: '';
      position: absolute;
      bottom: -3px;
      background-color: #f38181;
      height: 3px;
      width: 60px;
      left: calc(50% - 30px);
    }
  }
}

@media screen and (max-width: 1200px)
{
  header{
    h1{
      font-size: 100px;
    }
    h2{
      font-size: 54px;
    }
  }
  .feature{
    .on-scroll-img.ipad{
      width: 50%;
      left: 25%;
    }
    .on-scroll-img.iphone{
      width: 25%;
    }
  }
}

@media screen and (max-width: 1024px)
{
  .service{
    .flex{
      flex-direction: column;
    }
    .col-6{
      width: calc(100% - 40px);
    }
  }
}

@media screen and (max-width: 768px)
{
  header{
    h1{
      font-size: 72px;
      line-height: 93px;
    }
    h2{
      font-size: 48px;
      line-height: 72px;
    }
  }
  .mouseover-img{
    width: calc(100% - 40px);
    max-width: 400px;
    margin: 40px auto;
    float: inherit;
    .frame-img .degrade p{
      margin: 0;
    }
  }
  .meet-our-team{
    p{
      margin-bottom: 30px;
    }
  }
  .about-us{
    p{
      margin-bottom: 30px;
    }
  }
  .feature{
  }
  .carousel .carousel-content .review{
    font-size: 18px;
    line-height: 24px;
  }
  .what-people-say .col-6{
    width: calc(100% - 40px);
  }
  .we-work-with{
    .col-4{
      width: calc(50% - 40px);
    }
    .col-4.marg{
      margin: 80px 20px 0 20px;
    }
    &>.max-w-124>hr{
      display: none;
    }
    .clear.desktop{
      display: none;
    }
  }
  .stories .story{
    width: calc(100% - 40px);
  }
  .facts{
    height: 200px;
    .fact{
      span{
        text-align: center;
        &.number{
          font-size: 48px;
        }
      }
    }
  }
}