.block{
  padding: 100px 0;
  text-align: center;
  width: 90%;
  margin: auto;

  .block_header{
    position: relative;
    hr{
      width: 60px;
      height: 3px;
      background-color: #f38181;
    }
  }

  p{
    color: #999999;
    max-width: 850px;
    margin: auto;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    font-family: 'Lato', sans-serif;
  }
}