button{
  &.btn_white{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    background-color: transparent;
    border: 3px solid #fff;
    color: #fff;
    cursor: pointer;
    height: calc(40px - 3px);
    min-width: calc(160px - 3px);
    padding: 0 20px;
    margin: 20px auto;
    transition: 0.5s;
    position: relative;

    &::before{
      content: '';
      position: absolute;
      background-color: #fff;
    }

    &::after{
      content: '';
      position: absolute;
      background-color: #fff;
    }

    &:hover{
      border: none;
      &::before{
        @include animation('btn-before 2s infinite');
      }
      &::after{
        @include animation('btn-after 2s infinite');
      }
    }
  }
}