.mouseover-img{
  position: relative;
  width: calc((100% / 3) - 40px);
  margin: 100px 20px 20px 20px;
  float: left;
  cursor: pointer;
  background-color: #95e1d3;
  font-size: 0;

  .frame-img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    flex-direction: column;
    transition: 1s;
    color: transparent;
    background: transparent;

    img{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
    }

    .degrade{
      @include degrade('#f38181, #fce38a');
      opacity: 0;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      transition: 1s;

      &:hover{
        opacity: 0.9;
      }

      p{
        color: #fff;
        z-index: 1;
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
      }
    }
  }

  .frame_active{
    top: -20px;
    left: -20px;
  }
}