<footer>
        <div class="col-4">
            <span class="title">MoGo</span>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            </p>
            <div class="social">
                <span class="follower"><span>15k</span> followers</span>
                <hr>
                <div class="rs">
                    <span>Follow us : </span>
                    <span class="logo">
                        <img src="../img/facebook.png" alt="">
                        <img src="../img/twitter.png" alt="">
                        <img src="../img/instagram.png" alt="">
                        <img src="../img/pinterest.png" alt="">
                        <img src="../img/google-plus.png" alt="">
                        <img src="../img/youtube.png" alt="">
                        <img src="../img/dribbble.png" alt="">
                        <img src="../img/tumblr.png" alt="">
                    </span>
                </div>
            </div>
            <form action="">
                <input type="text" placeholder="Your Email..."><button type="submit">Subscribe</button>
            </form>
        </div>
        <div class="col-4 blogs">
            <span class="title">Blogs</span>
            <div class="blog">
                <img src="../img/footer-1.png" alt="">
                <div class="desc">
                    <span class="title">
                        Lorem ipsum dolor sit amet,
                        consectetur adipiscing
                    </span>
                    <span class="date">
                        Jan 9, 2016
                    </span>
                </div>
            </div>
            <br class="clear">
            <div class="blog">
                <img src="../img/footer-2.png" alt="">
                <div class="desc">
                    <span class="title">
                        Lorem ipsum dolor sit amet,
                        consectetur adipiscing
                    </span>
                    <span class="date">
                        Jan 9, 2016
                    </span>
                </div>
            </div>
            <br class="clear">
            <div class="blog">
                <img src="../img/footer-3.png" alt="">
                <div class="desc">
                    <span class="title">
                        Lorem ipsum dolor sit amet,
                        consectetur adipiscing
                    </span>
                    <span class="date">
                        Jan 9, 2016
                    </span>
                </div>
            </div>
            <br class="clear">
        </div>
        <div class="col-4 instagram">
            <span class="title">Instagram</span>
            <div class="cube">
                <img src="../img/instagram-3.png" alt="">
                <img src="../img/instagram-3.png" alt="">
                <img src="../img/instagram-3.png" alt="">
                <img src="../img/instagram-3.png" alt="">
                <img src="../img/instagram-3.png" alt="">
                <img src="../img/instagram-3.png" alt="">
                <img src="../img/instagram-3.png" alt="">
                <img src="../img/instagram-3.png" alt="">
                <img src="../img/instagram-3.png" alt="">
            </div>
            <br class="clear">
            <a href="">View more photos</a>
        </div>
    <br class="clear">
</footer>