<header>
    <div class="frame"></div>
    <nav>
        <div class="navigation">
            <div class="logo">
                MoGo
            </div>
            <ul>
                <li class="active"><a href="#about-us">About</a></li>
                <li>Service</li>
                <li>Work</li>
                <li>Blog</li>
                <li>Contact</li>
            </ul>
        </div>
    </nav>
    <h2>Creative Template</h2>
    <h1>Welcome to mogo</h1>
    <hr>
    <button class="btn_white"><span>learn more</span></button>
    <div class="header_footer">
        <ul>
            <li class="active"><span class="number">01</span> test</li><li>
            <span class="number">01</span> test</li><li>
            <span class="number">01</span> test</li><li>
            <span class="number">01</span> test</li>
        </ul>
    </div>
</header>