<head>
    <meta charset="utf-8">
    <title>Module 3t62u6pm</title>
    <link rel="stylesheet" href="stylesheets/stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300i,400" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="../script/menu.js"></script>
    <script src="../script/about-us.js"></script>
    <script src="../script/scroll-img.js"></script>
    <script src="../script/accordeon.js"></script>
    <script src="../script/carousel.js"></script>
    <script src="../script/script.js"></script>
</head>